<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<!-- 게임사 등록 -->
	<entry key="insertCompany">
		INSERT
		  INTO COMPANY
		  (
		    COMPANY_NO
		  , COMPANY_NAME
		  , COMPANY_PWD
		  , COMPANY_HEAD
		  , COMPANY_COMMENT
		  , COMPANY_ID
		  )
		  VALUES
		  (
		    SEQ_CNO.NEXTVAL
		  , ?
		  , DBMS_RANDOM.STRING('A',7)
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<!-- 게임사 목록 조회 -->
	<entry key="selectCompanyList">
		SELECT 
		       COMPANY_NO
		     , COMPANY_NAME
		     , COMPANY_ID
		     , COMPANY_PWD
		     , COMPANY_ENROLL
		  FROM COMPANY
		 WHERE COMPANY_STATUS = 'Y'
		 ORDER
		    BY COMPANY_NO DESC
	</entry>
	
	<!-- 게임사 상세 조회 -->
	<entry key="selectCompanyDetail">
		SELECT
		       COMPANY_NO
		     , COMPANY_NAME
		     , COMPANY_ID
		     , COMPANY_PWD
		     , COMPANY_HEAD
		     , COMPANY_COMMENT
		  FROM COMPANY
		 WHERE COMPANY_NO = ?
	</entry>
	
	<entry key="updateCompany">
		UPDATE
		       COMPANY
		   SET COMPANY_NAME = ?
		     , COMPANY_ID = ?
		     , COMPANY_HEAD = ?
		     , COMPANY_COMMENT = ?
		 WHERE COMPANY_NO = ?
	</entry>

	<entry key="deleteCompany">
		UPDATE
		       COMPANY
		   SET COMPANY_STATUS = 'N'
		 WHERE COMPANY_NO = ?
	</entry>












</properties>