<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


	<entry key="selectList">
		
		    
      SELECT GAME_NO
           , COMPANY_NO
           , KOR_NAME
           , ENG_NAME
           , TO_CHAR(RELEASE_DATE, '""YYYY"년 "MM"월 "DD"일"') "RELEASE_DATE"
           , PRICE
           , POINT
           , GAME_STATUS
           , GAME_IMG 
           , (SELECT COUNT(*) FROM WISHLIST W WHERE W.MEM_NO= ? AND G.GAME_NO =W.GAME_NO ) AS count
         FROM GAME G
		 WHERE UPPER(KOR_NAME || ENG_NAME) LIKE UPPER('%' || ? || '%') 
	</entry>
	
	
	
	
	
	
	<entry key="selectGame">
		SELECT
			   GAME_NO
		     , COMPANY_NO
		     , KOR_NAME
		     , ENG_NAME
		     , TO_CHAR(RELEASE_DATE, '""YYYY"년 "MM"월 "DD"일"') "RELEASE_DATE"
		     , PRICE
		     , GAME_INTRO
		     , CONFIRM
		     , UPGAME
		     , UPLOAD_DATE
		     , POINT
		     , GAME_STATUS
		     , GAME_IMG
		     , (SELECT COUNT(*) FROM WISHLIST W WHERE W.MEM_NO= ? AND G.GAME_NO =W.GAME_NO ) AS count
		  FROM GAME G
		 WHERE GAME_NO = ?
	</entry>
	


	<entry key="insertReview">
		INSERT
		  INTO REVIEW
		    (
		      REVIEW_NO
		    , GAME_NO
		    , MEM_NO
		    , CONTENTS
		    ) 
		    VALUES
		    ( SEQ_REVIEW_NO.NEXTVAL
		    , ?
		    , ?
		    , ?
		    )
	</entry>
	
	<entry key="selectReview">
		SELECT
			   REVIEW_NO 
		     , GAME_NO
		     , MEM_NO
		     , CONTENTS
		     , RECOMMEND
		     , TO_CHAR(UPLOAD_DATE, '""YYYY"년 "MM"월 "DD"일"') "UPLOAD_DATE"
		     , STAR_NO
		     , MEM_NICK
		     , MEM_PIC
		  FROM REVIEW
		  LEFT JOIN MEMBER USING (MEM_NO)
		 WHERE GAME_NO = ?
</entry>
	<entry key="selectGameList">
	SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		SELECT
		       G.GAME_NO "GAME_NO"
		     , C.COMPANY_NAME "COMPANY_NAME"
		     , G.ENG_NAME "ENG_NAME"
		     , TO_CHAR(G.UPLOAD_DATE, '""YYYY"-"MM"-"DD""') "UPLOAD_DATE"
		  FROM GAME G
		  INNER JOIN COMPANY C
		  ON G.COMPANY_NO = C.COMPANY_NO
		  WHERE G.GAME_STATUS = 'Y'
						 ORDER
						    BY G.GAME_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM GAME
		 WHERE GAME_STATUS = 'Y'

	</entry>


</properties>