<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertQna">
		INSERT 
		  INTO QNA
		  	  (
                QNA_NO
              , MEM_NO
              , QNA_TITLE
              , QNA_CONTENT
			  ) 
			    VALUES 
			  (
			    SEQ_QNO_K.NEXTVAL
			  , ?
			  , ?
			  , ?
			  )
	</entry>
	<entry key="insertAttachment">
		INSERT
			  INTO QNA_FILE
			  (
			   FILE_NO
			 , QNA_NO
			 , FILE_ORIGIN
			 , FILE_CHANGE
			 , FILE_PATH
			  )
			  VALUES
			  (
			    SEQ_QFNO_K.NEXTVAL
			  , SEQ_QNO_K.CURRVAL
			  , ?
			  , ?
			  , ?
			  )
	</entry>
</properties>