<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertQna">
		INSERT 
		  INTO QNA
		  	  (
                QNA_NO
              , MEM_NO
              , QNA_TITLE
              , QNA_CONTENT
			  ) 
			    VALUES 
			  (
			    SEQ_QNO_K.NEXTVAL
			  , ?
			  , ?
			  , ?
			  )
	</entry>
	<entry key="insertAttachment">
		INSERT
			  INTO QNA_FILE
			  (
			   FILE_NO
			 , QNA_NO
			 , FILE_ORIGIN
			 , FILE_CHANGE
			 , FILE_PATH
			  )
			  VALUES
			  (
			    SEQ_QFNO_K.NEXTVAL
			  , SEQ_QNO_K.CURRVAL
			  , ?
			  , ?
			  , ?
			  )
	</entry>
	<entry key="selectListCount">
		
	</entry>
	<entry key="qnaWaitList">
		SELECT *
		  FROM
		       (SELECT ROWNUM RNUM, A.* 
		          FROM
		                (SELECT 
		                  QNA_NO
		                , MEM_NO
		                , MEM_ID
		                , MEM_NICK
		                , QNA_TITLE
		                , TO_CHAR(REPORT_DATE, 'YY/MM/DD HH:MI') "REPORT_DATE"
		                , ANS_CONFIRM
		             FROM QNA
		             JOIN MEMBER USING(MEM_NO)
		            WHERE QNA_STATUS = 'Y'
		            ORDER
                       BY ANS_CONFIRM ASC, QNA_NO DESC
		            ) A
		        )
		    WHERE RNUM BETWEEN ? AND ?

	</entry>
	<entry key="selectListCount">
		SELECT 
		       COUNT(*) "COUNT" 
		  FROM QNA
	</entry>
	<entry key="qnaDetailView">
		SELECT
			  QNA_NO 
		    , MEM_NO
		    , MEM_NICK
		    , QNA_TITLE
		    , QNA_CONTENT
		    , REPORT_DATE
		    , NVL(ANS_CONTENT, ' ') "ANS_CONTENT"
		    , ANS_DATE
		 FROM QNA
		 JOIN MEMBER USING(MEM_NO)
		WHERE QNA_NO = ?
	</entry>
	<entry key="selectAttachment">
		SELECT
		       FILE_NO
		     , FILE_ORIGIN
		     , FILE_CHANGE
		     , FILE_PATH
		  FROM QNA_FILE
		 WHERE QNA_NO =  ?
		   AND FILE_STATUS = 'Y'
	</entry>
	<entry key="qnaAnswer">
		UPDATE QNA 
		   SET ANS_CONTENT = ?
		     , ANS_DATE = SYSDATE
		     , ANS_CONFIRM = 'Y'
		 WHERE QNA_NO = ?
	</entry>
</properties>