<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectPostListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM POST
		 WHERE POST_STATUS = 'Y'
	</entry>
	
	<entry key="selectPostList">
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
		                SELECT 
						       POST_NO
						     , MEM_NICK
						     , POST_NAME
						     , POST_VIEW
						     , POST_LIKE
						     , TO_CHAR(POST_MODIFY, 'YYYY/MM/DD') "POST_MODIFY"
						     , POST_NOTICE
						  FROM POST P
						  JOIN MEMBER ON (POST_WRITER = MEM_NO)
						 WHERE P.POST_STATUS = 'Y'
						 ORDER
						    BY POST_NO DESC
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="increaseCount">
		UPDATE
		       POST
		   SET POST_VIEW = POST_VIEW+1
		 WHERE POST_NO = ?
		   AND POST_STATUS = 'Y'
	</entry>
	
	<entry key="confirmMember">
		SELECT
			   MEM_ACCESS
		  FROM MEMBER
		 WHERE MEM_ID = ?
	</entry>
	
	<entry key="selectPostDetail">
		SELECT
		       POST_NO
		     , POST_WRITER
		     , POST_NAME
		     , MEM_NICK
		     , TO_CHAR(POST_MODIFY, 'YYYY/MM/DD HH24:mm:SS') "POST_MODIFY"
		     , POST_VIEW
		     , POST_LIKE
		     , POST_CONTENT
		  FROM POST
		  JOIN MEMBER ON (POST_WRITER = MEM_NO)
		 WHERE POST_NO = ?
	</entry>
	
	<entry key="insertPost">
		INSERT
		  INTO POST
		  (
		  	POST_NO
		  , POST_WRITER
		  , POST_NAME
		  , POST_CONTENT
		  , POST_NOTICE
		  )
		  VALUES
		  (
		  	SEQ_PNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertFile">
		INSERT
		  INTO POST_FILE
		  (
		  	FILE_NO
		  , REF_POST
		  , FILE_ORIGIN
		  , FILE_CHANGE
		  , FILE_PATH
		  )
		  VALUES
		  (
		  	SEQ_FNO.NEXTVAL
		  , SEQ_PNO.CURRVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>



</properties>