<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectBlockCount">
		SELECT 
		       COUNT(*) COUNT
  		  FROM MEMBER
         WHERE MEM_ACCESS = 'BLOCK'
	</entry>
	<entry key="blacklist">
		 SELECT *
		   FROM
				(SELECT 
				       ROWNUM, B.*
				  FROM
					   (SELECT 
					           MEM_ID
					         , MEM_NICK
					         , RCATEGORY_NAME
					         , BLOCK_DATE
					      FROM REPORT
					      JOIN REPORT_CATEGORY ON (REPORT_SORT = RCATEGORY_NO)
					      JOIN MEMBER  ON (REPORTED_MEM_NO = MEM_NO) 
					     WHERE MEM_ACCESS = 'BLOCK'
					     ORDER BY BLOCK_DATE) B
				 ORDER 
				    BY ROWNUM DESC)
		  WHERE ROWNUM BETWEEN ? AND ?
	</entry>
	<entry key="unblock">
		UPDATE 
		       MEMBER 
		   SET MEM_ACCESS = 'UNBLOCK'
		     , BLOCK_DATE = '' 
		 WHERE MEM_ID = ?
	</entry>
</properties>