<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectBlockCount">
		SELECT 
		       COUNT(*) COUNT
  		  FROM MEMBER
         WHERE MEM_ACCESS = 'BLOCK'
	</entry>
	<entry key="blacklist">
		 SELECT *
		   FROM
				(SELECT 
				       ROWNUM RNUM, B.*
				  FROM
					   (SELECT 
					   		   MEM_NO
					         , MEM_ID
					         , MEM_NICK
					         , RCATEGORY_NAME
					         , ETC
					         , BLOCK_DATE
					      FROM REPORT
					      JOIN REPORT_CATEGORY ON (REPORT_SORT = RCATEGORY_NO)
					      JOIN MEMBER  ON (REPORTED_MEM_NO = MEM_NO) 
					     WHERE MEM_ACCESS = 'BLOCK'
					     ORDER BY BLOCK_DATE) B
				 ORDER 
				    BY ROWNUM DESC)
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="unblock">
		UPDATE 
		       MEMBER 
		   SET MEM_ACCESS = 'UNBLOCK'
		     , BLOCK_DATE = '' 
		 WHERE MEM_ID = ?
	</entry>
	<entry key="reportWaiting">
		 SELECT *
		   FROM
				(SELECT 
				       ROWNUM RNUM, B.*
				  FROM
					   (SELECT 
                               REPORT_NO
                             , A.MEM_NO
                             , A.MEM_ID "REPORTED"
                             , POST_NAME
                             , REF_PNO
                             , REPLY_CONTENT
                             , C.RCATEGORY_NAME
                             , R.ETC
                             , B.MEM_ID "REPORTING"
                             , REPORT_DATE
                        FROM REPORT R
                        JOIN REPORT_CATEGORY C ON (R.REPORT_SORT = C.RCATEGORY_NO)
                   LEFT JOIN MEMBER A ON (R.REPORTED_MEM_NO = A.MEM_NO)
                        JOIN MEMBER B ON (R.REPORTING_MEM_NO = B.MEM_NO)
                        JOIN POST P ON (R.REF_PNO = P.POST_NO)
                   LEFT JOIN REPLY RP ON (R.REF_RNO = RP.REPLY_NO)
                        WHERE DONE = 'N'
                        ) B
				 ORDER
                     BY REPORT_NO)
		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="accessBlock">
		UPDATE 
		       MEMBER 
		   SET MEM_ACCESS = 'BLOCK'
		     , BLOCK_DATE = SYSDATE
		 WHERE MEM_ID = ?
	</entry>
	<entry key="accessDone">
		UPDATE 
			   REPORT 
		   SET DONE = 'Y' 
		 WHERE REPORT_NO = ?
	</entry>
	<entry key="selectReportList">
		SELECT *
		  FROM
		        (SELECT ROWNUM RNUM, A.*
		           FROM
		                (SELECT 
		                       REPORT_NO
		                     , A.MEM_NO
		                     , A.MEM_ID "REPORTED"
		                     , POST_NAME
		                     , REF_PNO
		                     , REPLY_CONTENT
		                     , C.RCATEGORY_NAME
		                     , R.ETC
		                     , B.MEM_ID "REPORTING"
		                     , REPORT_DATE
		                FROM REPORT R
		                JOIN MEMBER A ON (R.REPORTED_MEM_NO = A.MEM_NO)
		                JOIN MEMBER B ON (R.REPORTING_MEM_NO = B.MEM_NO)
		                JOIN POST P ON (R.REF_PNO = P.POST_NO)
		                LEFT JOIN REPLY RP ON (R.REF_RNO = RP.REPLY_NO)
		                JOIN REPORT_CATEGORY C ON (R.REPORT_SORT = C.RCATEGORY_NO)
		               WHERE DONE = 'Y'
		                ORDER
		                   BY REPORT_NO DESC) A
		                   )
		         WHERE RNUM BETWEEN ? AND ?
	</entry>
	<entry key="reportAtCommunity">
		INSERT 
		  INTO REPORT
		  ( 
		    REPORT_NO
		  , REPORTED_MEM_NO
		  , REPORTING_MEM_NO
		  , REF_PNO
		  , REF_RNO
		  , REPORT_SORT
		  , REPORT_DATE
		  , DONE
		  , ETC
		  )
		  VALUES 
		  (
		  SEQ_RNO_K.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , NULL
		  , ?
		  , DEFAULT
		  , DEFAULT
		  , ?
		  )
	</entry>
	<entry key="reportAtCommunity">
		INSERT 
		  INTO REPORT
		  ( 
		    REPORT_NO
		  , REPORTED_MEM_NO
		  , REPORTING_MEM_NO
		  , REF_PNO
		  , REPORT_SORT
		  , REPORT_DATE
		  , DONE
		  , ETC
		  )
		  VALUES 
		  (
		  SEQ_RNO_K.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , DEFAULT
		  , DEFAULT
		  , ?
		  )
	</entry>
	<entry key="reportReply">
		  INSERT 
		  INTO REPORT
		  ( 
		    REPORT_NO
		  , REPORTED_MEM_NO
		  , REPORTING_MEM_NO
		  , REF_PNO
		  , REF_RNO
		  , REPORT_SORT
		  , ETC
		  )
		  VALUES 
		  (
		  SEQ_RNO_K.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
</properties>