<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	

	<entry key ="selectWish">
	
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
                                SELECT    
                                  MEM_NO   
                                , GAME_NO
                                , KOR_NAME
                                , ENG_NAME
                                , GAME_INTRO
                                , PRICE
                                , POINT
                                , CHANGE_NAME
                                , FILE_PATH
                          FROM WISHLIST W
                          LEFT JOIN UPLOAD_FILE UP USING(GAME_NO)
                          LEFT JOIN GAME G USING(GAME_NO)
                          WHERE MEM_NO = ?
                           AND FILE_TYPE = 1
                             ORDER 
		                    BY GAME_NO DESC

		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?	
	

	</entry> 
	
	<entry key ="wishSearch">
	
		SELECT *
		  FROM (
		        SELECT ROWNUM RNUM, A.*
		          FROM (
                                SELECT    
                                  MEM_NO   
                                , GAME_NO
                                , KOR_NAME
                                , ENG_NAME
                                , GAME_INTRO
                                , PRICE
                                , POINT
                                , CHANGE_NAME
                                , FILE_PATH
                          FROM WISHLIST W
                          LEFT JOIN UPLOAD_FILE UP USING(GAME_NO)
                          LEFT JOIN GAME G USING(GAME_NO)
                          WHERE MEM_NO = ?
                           AND FILE_TYPE = 1
                           	 AND UPPER(KOR_NAME || ENG_NAME) LIKE UPPER('%' || ? || '%')
                             ORDER BY GAME_NO DESC

		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?	
	

	</entry>
	
	
	<entry key="insertWish">
	
			INSERT 
	      INTO WISHLIST
	       (
	      MEM_NO
	    , GAME_NO
	       )
	      VALUES
		  (
		      ?
		    , ?
		  )
	
	</entry>
	
		<entry key ="deleteWish">
	
		DELETE
		  FROM WISHLIST
		 WHERE MEM_NO = ?
		   AND GAME_NO = ?
		
	
	</entry>
	
	
	<!-- 페이징  총게시글 개수 -->
		<entry key="selectListCount">
		SELECT
      			COUNT(*) "count"
  		  FROM WISHLIST
         WHERE MEM_NO = ?
	
		</entry>
	
	
	

</properties>